* {
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;

}
#container {
    display: flex;
    background-color: black;
    align-items: center;
    flex-direction: column;
    height: 100%;

}
#game {
    width: 100%;
    max-width: 500px;
    height: 100%;
}


header{
    border-bottom: 1px solid white;
}
.title {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
}
/* LETTER BOARD */
#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    border-bottom: 100px;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.square {
    border: 2px solid rgb(58, 58, 60);
    min-width: 60px;
    min-height: 60px;
    font-weight: bold;
}

/* KEYBOARD */
#keyboard-container {
    height: 200px;
}
.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin:0 auto 8px;
    touch-action: manipulation;
}
.keyboard-row button{
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 60px;
    cursor: pointer;
    background-color: lightgray;
    color: white;
    flex-grow: 1;
    text-transform: capitalize;
    margin-right: 6px;
}

.keyboard-row button.wide-button {
    flex-grow: 1.5;
}
.spacer-half {
    flex-grow: 1;
}